@media only screen and (max-width: 768px) {
  .dine_in_container {
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }

  .header h2 {
    margin: 20px 0;
    font-weight: bold;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    position: relative;
  }

  .counter {
    position: absolute;
    top: -10px;
    right: 0px;
    background-color: white;
    color: black;
    border-radius: 60%;
    padding: 0px 5px;
    font-size: 12px;
  }

  .back_arrow {

    margin: 20px 0;
    padding: 0 0 5px 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #f3ebeb00;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    font-size: 20px;
  }

  .accordion-body {
    padding: 10px;
  }

  .accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent;
    box-shadow: none;
  }

  .accordion-item {
    color: transparent;
    background-color: transparent;
    border: transparent;
  }

  .nav-tabs {
    margin-bottom: 20px;
    text-align: center;
    gap: 5px;
  }

  .accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-icon {
    margin-right: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .accordion-button::after {
    content: none;
  }

  .accordion-button .fa {
    font-size: 1.2rem;
    color: white;
  }

  .accordion-button.collapsed .fa {
    content: '\f067';
    /* Font Awesome plus icon */
  }

  .accordion-button:not(.collapsed) .fa {
    content: '\f068';
    /* Font Awesome minus icon */
  }

  .accordion-button.collapsed {
    background-color: #343a40;
    color: white;
  }

  .accordion-button:not(.collapsed) {
    color: white;
  }



  .nav-tabs .nav-link {
    color: white;
    width: 100%;
  }

  .nav-tabs .nav-link.active {
    background-image: linear-gradient(to right, #1367C1, #FF1B05, #FBB03C);
    color: white;
    width: 100%;
    border: none;
  }

  .nav-item {
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-radius: 5px 5px 0 0;

  }

  .menu-category {
    margin: 20px 0;
  }


  /* Container for each product item */
  .menu-item {
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Container for product image and details */
  .menu-info {
    display: flex;
    align-items: center;
    max-width: 60%;
    width: 100%;
  }

  /* Style for product image */
  .image {
    width: 60px;
    /* Adjust size as needed */
    height: auto;
    border-radius: 5px;
  }

  /* Container for product details */
  .menu-details {
    color: white;
    margin-left: 25px;
  }

  .menu-details p{
    font-size: 10px;
    color: white;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .menu-details h5{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    color: white;
  }
  .btn:hover{
    background-color: #FBB03C;
    border: none;
    border-radius: 0px;
    color: black;
    border-color: none;
    border: none;
  }

  /* Container for quantity controls */
  .menu-quantity {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30%;
  }

  .btn-light{
    background-color: #FBB03C;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
  }

  

  /* Style for quantity input */
  .quantity-input {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: black;
    color: white;

    border-radius: 3px;
    text-align: center;
  }








  .order_placed_btn {
    background: linear-gradient(to right, #1367C1, #FF1B05, #FBB03C);
    border: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    font-weight: bold;
    color: white;
  }

}