.btn:hover {
  color: none;
  background-color: none;
  border-color: none;
}

@media only screen and (max-width: 768px) {
  .dine_in_container {
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }

  .header h2 {
    margin: 20px 0;
    font-weight: bold;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    position: relative;
  }

  .counter {
    position: absolute;
    top: -10px;
    right: 0px;
    background-color: white;
    color: black;
    border-radius: 60%;
    padding: 0px 5px;
    font-size: 12px;
  }

  .back_arrow {

    margin: 20px 0;
    padding: 0 0 5px 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #f3ebeb00;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    font-size: 20px;
  }

  .accordion-body {
    padding: 10px;
  }

  .accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent;
    box-shadow: none;
  }

  .accordion-item {
    color: transparent;
    background-color: transparent;
    border: transparent;
  }

  .nav-tabs {
    margin-bottom: 20px;
    text-align: center;
    gap: 5px;
  }

  .accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-icon {
    margin-right: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .accordion-button::after {
    content: none;
  }

  .accordion-button .fa {
    font-size: 1.2rem;
    color: white;
  }

  .accordion-button.collapsed .fa {
    content: '\f067';
    /* Font Awesome plus icon */
  }

  .accordion-button:not(.collapsed) .fa {
    content: '\f068';
    /* Font Awesome minus icon */
  }

  .accordion-button.collapsed {
    background-color: #343a40;
    color: white;
  }

  .accordion-button:not(.collapsed) {
    color: white;
  }



  .nav-tabs .nav-link {
    color: white;
    width: 100%;
  }

  .nav-tabs .nav-link.active {
    background-image: linear-gradient(to right, #1367C1, #FF1B05, #FBB03C);
    color: white;
    width: 100%;
    border: none;
  }

  .nav-item {
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-radius: 5px 5px 0 0;

  }

  .menu-category {
    margin: 20px 0;
  }

  .menu-item {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .menu-info {
    display: flex;
    align-items: center;
  }

  .menu-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .menu-details h5 {
    margin: 0;
    font-size: 1rem;
    color: white;
  }

  .menu-details p {
    margin: 0;
    font-size: 0.8rem;
    color: #bbb;
  }

  .menu-quantity {
    display: flex;
    align-items: center;
  }

  .btn:hover {
    color: none;
    background-color: none;
    border-color: none;
  }

  .btn-light {
    width: 28px;
    height: 30px;
    color: white;
    display: flex;
    border-color: #343a40;
    border-radius: 0px;
    font-size: 20px;
    background-color: #343a40;
    align-items: center;
    justify-content: center;
  }

  .quantity-input {
    width: 25px;
    height: 30px;
    text-align: center;
    /* margin: 0 5px; */
    border: none;
    /* background-color: transparent; */
    /* color: white; */
    border-radius: 0;
  }

  .order_placed_btn {
    background: linear-gradient(to right, #1367C1, #FF1B05, #FBB03C);
    border: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    font-weight: bold;
    color: white;
  }

}